include _head.pug

header
  h1 #{header}
  small #{catchPhrase}

main
  article
    h2 #{title}

    p #{lorem1}

    p #{lorem2}

    h3 #{subtitle}

    p #{sentence}

    p #{lorem3}

    p #{lorem4}

include _foot.pug
